<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oy.springbootdemo.dao.UserDao">
    <resultMap id="userMap" type="com.oy.springbootdemo.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>
    <delete id="batchDeleteUser">
         delete * from user
    </delete>
    <select id="selectUser" resultMap="userMap">
        select * from user
    </select>
</mapper>