<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oy.springbootdemo.dao.UserDao">
    <insert id="addUser" >
        insert into user (username,password) values (#{username},#{password})
    </insert>
    <select id="findAll" resultType="com.oy.springbootdemo.entity.User">
        select * from user
    </select>
</mapper>